#product-detail{
padding: 0 5%;
padding-top: 80px;
position: relative;
    .product-detail{
        .catalog-modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.catalog-modal {
  width: 90%;
  max-width: 420px;
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);

  h4 {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-bottom: 12px;
  }

  p {
    font-size: 16px;
    color: #555;
    margin-bottom: 25px;
    line-height: 1.5;
  }

  button {
    border: none;
    background: #000;
    color: #fff;
    padding: 12px 28px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;

    &:hover {
      background: #222;
    }
  }
}
        .img-side{
            width: 100%;
            text-align: center;
            padding-bottom: 40px;
            img{
                width: 100%;
                max-width: 700px;
                max-height: 350px;
                object-fit: contain;
                object-position: center;
                border-radius: 20px;
                @media (max-width:768px){
                    height: 300px;
                }
            }
        }
        .text-side{
            width: 100%;
            .head{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 30px;
                h3{
                    font-size: 24px;
                    font-weight: 600;
                    color: #000000;
                }
                @media (max-width:768px){
                    padding-bottom:10px;
                }
            }
            .content{
                padding-bottom: 30px;
                 @media (max-width:768px){
                    padding-bottom:10px;
                }
            }
            
        }
    }
}